<c-card>
	<!-- CASO A REQUISIÇÃO FALHE -->
	<c-card-header *ngIf="failureFlag">
		<svg cIcon name="cilWarning"></svg>
		<strong> &nbsp; Falha de comunicação</strong>
	</c-card-header>

	<c-card-body class="d-flex px-4" *ngIf="failureFlag">
		<p>
			Infelizmente ocorreu uma falha de comunicação no sistema. Tente
			acessar novamente ou mais tarde. Caso persista, entre em contato com
			os desenvolvedores
		</p>
	</c-card-body>
	<!-- CASO A REQUISIÇÃO FALHE -->

	<c-card-header *ngIf="!failureFlag">
		<c-icon name="cil-list"></c-icon>
		<strong> &nbsp; Lista de Grupos PET cadastrados</strong>
	</c-card-header>

	<c-card-body *ngIf="!failureFlag">
		<form cForm [formGroup]="searchSettingsForm">
			<c-row class="align-items-center">
				<c-col lg="6" md="6" sm="6" xs="12">
					<div class="d-grid gap-2 d-flex justify-content-end">
						<input
							cFormControl
							type="text"
							placeholder="Buscar por sigla do Grupo PET"
							formControlName="sigla"
							(input)="searchGruposBySigla()"
							>
					</div>
				</c-col>
			</c-row>
		</form>
		<br>
		<table cTable hover [responsive]="true">
			<thead cTableColor="light">
				<tr>
					<th scope="col" style="width: 5%; text-align: center; vertical-align: middle;">#</th>
					<th scope="col" style="width: 20%; vertical-align: middle;">Sigla</th>
					<th scope="col" style="width: 60%; vertical-align: middle;">Descrição</th>
					<th scope="col" style="width: 15%; text-align: center; vertical-align: middle;">Ação</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let grupo of gruposPet; index as i">
					<th scope="row" style="text-align: center; vertical-align: middle;">{{ i + 1 }}</th>
					<td class="fw-bold" style="vertical-align: middle;">{{ grupo.sigla }}</td>
					<td style="vertical-align: middle;">{{ grupo.descricao }}</td>
					<td style="text-align: center; vertical-align: middle;">
						<button
							cButton
							color="warning"
							class="hyperlog-btn text-white me-2"
							[disabled]="!canManage()"
							(click)="editGrupo(grupo)"
							title="Editar Grupo PET"
						>
							<fa-icon [icon]="faIcons.faPenToSquare" class="cardIcon fa-lg fa-fw"></fa-icon>
						</button>
						<button
							cButton
							color="danger"
							class="hyperlog-btn text-white"
							[disabled]="!canManage()"
							(click)="preDeleteGrupo(grupo)"
							title="Apagar Grupo PET"
						>
							<fa-icon [icon]="faIcons.faTrash" class="cardIcon fa-lg fa-fw"></fa-icon>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</c-card-body>

	<c-card-body class="d-flex justify-content-center" *ngIf="!failureFlag">
		<pagination
			[totalItems]="totalItems"
			[maxSize]="maxPageLinks"
			(pageChanged)="pageChange($event)"
			[itemsPerPage]="itemsPerPage"
			previousText="Anterior"
			nextText="Próxima"
		>
		</pagination>
	</c-card-body>
</c-card>
<br>

<!-- Modal de Confirmação para Deletar Grupo PET -->
<c-modal backdrop="static" alignment="center" [visible]="flagModalDelete">
	<c-modal-header>
		<h5 cModalTitle>Atenção! Exclusão de Grupo PET</h5>
	</c-modal-header>
	<c-modal-body>
		<p class="text-danger fw-bold">
			Deseja realmente excluir o Grupo PET {{ selectedGrupoPet?.sigla }}?
		</p>
		<p>
			A exclusão deste Grupo removerá as associações de tutor e extensionistas. 
		</p>
	</c-modal-body>
	<c-modal-footer>
		<div class="d-grid gap-2 d-flex justify-content-end">
			<button
				cButton
				class="hyperlog-btn text-white fw-bold"
				(click)="closeDeleteModal()"
				type="button"
				color="secondary"
			>
				Cancelar
			</button>
			<button
				cButton
				class="hyperlog-btn text-white fw-bold"
				(click)="confirmDeleteGrupo()"
				type="button"
				color="danger"
			>
				Sim, excluir
			</button>
		</div>
	</c-modal-footer>
</c-modal>

<!-- Modal para quando os dados estiverem sendo carregados -->
<c-modal backdrop="static" alignment="center" [visible]="modalLoadingFlag">
	<c-modal-header>
		<h5 cModalTitle>Carregando...</h5>
	</c-modal-header>

	<c-modal-body>
		<p>
			Aguarde alguns segundos enquanto os dados estão sendo carregados...
		</p>

		<div class="d-flex justify-content-center text-primary">
			<div class="spinner-border spinner-border-lg" role="status">
				<span class="sr-only"></span>
			</div>
		</div>
	</c-modal-body>
</c-modal>
