<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
	<c-container>
		<c-row class="justify-content-center">
			<c-col md="8">
				<c-card-group>
					<c-card class="p-4">
						<c-card-body>
							<button
								cButton
								size="lg"
								color="dark"
								variant="outline"
								routerLink="/login"
							>
								<svg
									[cIcon]="icons.cilArrowLeft"
									size="lg"
									title="List Icon"
								></svg>
								Voltar
							</button>
							<br />
							<br />
							<div class="row">
								<div class="col">
									<h5>
										<strong>
											Bem vindo ao Sistema Gerencia PET.
										</strong>
									</h5>

									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat at nisl a egestas. Nunc aliquam luctus ipsum non ullamcorper. Pellentesque eget odio quis sem mattis commodo. Vivamus mollis facilisis nisl, non ornare risus rutrum a. Nunc rhoncus urna vel risus dictum porttitor. Phasellus elit mi, molestie sed hendrerit sed, volutpat ac ante. Donec rutrum ligula lacinia tortor bibendum, ut sodales quam consequat. Vestibulum et dui sapien. Fusce et erat enim. Cras convallis lobortis tristique. Phasellus elementum est ut tortor hendrerit congue. Quisque et egestas nibh, vel tincidunt augue. Sed ac posuere mauris, lacinia ullamcorper lorem. Proin laoreet augue eget enim placerat, non sodales ipsum volutpat. Proin neque urna, placerat vitae porta in, pharetra sit amet enim. Sed vel ante felis.
									</p>

									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat at nisl a egestas. Nunc aliquam luctus ipsum non ullamcorper. Pellentesque eget odio quis sem mattis commodo. Vivamus mollis facilisis nisl, non ornare risus rutrum a. Nunc rhoncus urna vel risus dictum porttitor. Phasellus elit mi, molestie sed hendrerit sed, volutpat ac ante. Donec rutrum ligula lacinia tortor bibendum, ut sodales quam consequat. Vestibulum et dui sapien. Fusce et erat enim. Cras convallis lobortis tristique. Phasellus elementum est ut tortor hendrerit congue. Quisque et egestas nibh, vel tincidunt augue. Sed ac posuere mauris, lacinia ullamcorper lorem. Proin laoreet augue eget enim placerat, non sodales ipsum volutpat. Proin neque urna, placerat vitae porta in, pharetra sit amet enim. Sed vel ante felis.
									</p>

									<ul>
										<li>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat at nisl a egestas. Nunc aliquam luctus ipsum non ullamcorper. Pellentesque eget odio quis sem mattis commodo. Vivamus mollis facilisis nisl, non ornare risus rutrum a. Nunc rhoncus urna vel risus dictum porttitor. Phasellus elit mi, molestie sed hendrerit sed, volutpat ac ante. Donec rutrum ligula lacinia tortor bibendum, ut sodales quam consequat. Vestibulum et dui sapien. Fusce et erat enim. Cras convallis lobortis tristique. Phasellus elementum est ut tortor hendrerit congue. Quisque et egestas nibh, vel tincidunt augue. Sed ac posuere mauris, lacinia ullamcorper lorem. Proin laoreet augue eget enim placerat, non sodales ipsum volutpat. Proin neque urna, placerat vitae porta in, pharetra sit amet enim. Sed vel ante felis.
										</li>

										<li>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat at nisl a egestas. Nunc aliquam luctus ipsum non ullamcorper. Pellentesque eget odio quis sem mattis commodo. Vivamus mollis facilisis nisl, non ornare risus rutrum a. Nunc rhoncus urna vel risus dictum porttitor. Phasellus elit mi, molestie sed hendrerit sed, volutpat ac ante. Donec rutrum ligula lacinia tortor bibendum, ut sodales quam consequat. Vestibulum et dui sapien. Fusce et erat enim. Cras convallis lobortis tristique. Phasellus elementum est ut tortor hendrerit congue. Quisque et egestas nibh, vel tincidunt augue. Sed ac posuere mauris, lacinia ullamcorper lorem. Proin laoreet augue eget enim placerat, non sodales ipsum volutpat. Proin neque urna, placerat vitae porta in, pharetra sit amet enim. Sed vel ante felis.
										</li>
									</ul>

									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat at nisl a egestas. Nunc aliquam luctus ipsum non ullamcorper. Pellentesque eget odio quis sem mattis commodo. Vivamus mollis facilisis nisl, non ornare risus rutrum a. Nunc rhoncus urna vel risus dictum porttitor. Phasellus elit mi, molestie sed hendrerit sed, volutpat ac ante. Donec rutrum ligula lacinia tortor bibendum, ut sodales quam consequat. Vestibulum et dui sapien. Fusce et erat enim. Cras convallis lobortis tristique. Phasellus elementum est ut tortor hendrerit congue. Quisque et egestas nibh, vel tincidunt augue. Sed ac posuere mauris, lacinia ullamcorper lorem. Proin laoreet augue eget enim placerat, non sodales ipsum volutpat. Proin neque urna, placerat vitae porta in, pharetra sit amet enim. Sed vel ante felis.
									</p>

									<p>
										<strong
											>Ao se cadastrar no sistema você
											concorda com os termos aqui
											dispostos.</strong
										>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat at nisl a egestas. Nunc aliquam luctus ipsum non ullamcorper. Pellentesque eget odio quis sem mattis commodo. Vivamus mollis facilisis nisl, non ornare risus rutrum a. Nunc rhoncus urna vel risus dictum porttitor. Phasellus elit mi, molestie sed hendrerit sed, volutpat ac ante. Donec rutrum ligula lacinia tortor bibendum, ut sodales quam consequat. Vestibulum et dui sapien. Fusce et erat enim. Cras convallis lobortis tristique. Phasellus elementum est ut tortor hendrerit congue. Quisque et egestas nibh, vel tincidunt augue. Sed ac posuere mauris, lacinia ullamcorper lorem. Proin laoreet augue eget enim placerat, non sodales ipsum volutpat. Proin neque urna, placerat vitae porta in, pharetra sit amet enim. Sed vel ante felis.
									</p>
								</div>
							</div>
						</c-card-body>
					</c-card>
				</c-card-group>
			</c-col>
		</c-row>
	</c-container>
</div>
