<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col md="8">
                <c-card-group>
                    <c-card class="p-4">
                        <c-card-body>
                            <form (ngSubmit)="getAuthForm()" [formGroup]="loginForm" cForm>
                                <img src="../../../assets/img/brand/logo-nome.png" class="logoAmamenta" />
                                <br /><br />
                                <p class="text-medium-emphasis">
                                    Entre com seu nome de usuário e senha para
                                    acessar o sistema
                                </p>
                                <br />
                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                                        <fa-icon [icon]="icons.faUser" class="fa-sm"></fa-icon>
                                    </span>
                                    <input autoComplete="cpf" formControlName="cpf" cFormControl required
                                        placeholder="CPF" mask="000.000.000-00" [dropSpecialCharacters]="false" />
                                </c-input-group>
                                <c-input-group class="mb-4">
                                    <span cInputGroupText>
                                        <fa-icon [icon]="icons.faLock" class="fa-sm"></fa-icon>
                                    </span>
                                    <input autoComplete="current-password" cFormControl formControlName="password"
                                        placeholder="Senha" required [type]="showPassword ? 'text' : 'password'" />
                                    <button cButton type="button" color="secondary" variant="outline"
                                        (click)="togglePasswordVisibility()" tabindex="-1">
                                        <fa-icon [icon]="showPassword ? icons.faEyeSlash : icons.faEye"></fa-icon>
                                    </button>
                                </c-input-group>
                                <c-row class="float-bottom">
                                    <div class="d-grid gap-2">
                                        <button cButton [disabled]="loginForm.invalid" type="submit"
                                            class="px-4 background-Amamenta button-login">
                                            Login
                                        </button>
                                    </div>
                                    <br />
                                    <br />
                                    <div>
                                        <br />
                                        <br />
                                        <div class="d-flex justify-content-center">
                                            <a (click)="toggleRetrievePassword()"
                                                class="p-2 justify-content-center forgot-password">
                                                Esqueceu a senha?
                                            </a>
                                        </div>
                                    </div>
                                </c-row>
                            </form>
                        </c-card-body>
                    </c-card>

                    <c-card [ngStyle]="{ 'width.%': 100 }" class="text-white background-Amamenta py-5">
                        <c-card-body class="text-center">
                            <div>
                                <h2>Cadastrar no sistema</h2>
                                <br />
                                <p>
                                    Caso você não tenha um nome de usuário e
                                    senha é necessário cadastrar no sistema e
                                    esperar pela liberação de um administrador.
                                </p>
                                <p>
                                    Para realizar o cadastro, basta clicar no
                                    botão abaixo. Na sequência entre um contato
                                    com um administrador para liberar o seu
                                    acesso.
                                </p>
                                <button [active]="true" cButton class="mt-3 register-button" color="white"
                                    routerLink="/register">
                                    <svg [cIcon]="icons.cilBook" size="md" title="List Icon"></svg>
                                    Cadastrar
                                </button>
                                <br /><br />
                                <p>
                                    <a class="text-white" routerLink="/terms">Termos de Uso</a>
                                    e
                                    <a class="text-white" routerLink="/policy">Políticas de Privacidade</a>
                                </p>
                            </div>
                        </c-card-body>
                    </c-card>
                </c-card-group>
            </c-col>
        </c-row>
    </c-container>
</div>

<!--MODAL DE SUCESSO EM RECUPERAR SENHA-->
<c-modal id="responseModal" [visible]="SuccessRetrieveVisible" (visibleChange)="handleSuccessRetrieve($event)">
    <c-modal-header>
        <h5 cModalTitle>Sucesso</h5>
        <button (click)="toggleSuccessRetrieve()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div class="alert alert-success" role="alert" style="font-size: 18px">
            As instruções para recuperação de senha foram enviadas para o e-mail
            cadastrado.
        </div>
    </c-modal-body>
    <c-modal-footer>
        <button (click)="toggleSuccessRetrieve()" cButton color="success">
            Fechar
        </button>
    </c-modal-footer>
</c-modal>

<!--MODAL DE ERRO EM RECUPERAR SENHA-->
<c-modal id="responseModal2" [visible]="ErrorRetrieveVisible" (visibleChange)="handleErrorRetrieve($event)">
    <c-modal-header>
        <h5 cModalTitle>Erro</h5>
        <button (click)="toggleErrorRetrieve()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div class="alert alert-danger" role="alert" style="font-size: 18px">
            Erro ao recuperar senha. O e-mail fornecido não está cadastrado no
            sistema
        </div>
    </c-modal-body>
    <c-modal-footer>
        <button (click)="toggleErrorRetrieve()" cButton color="danger">
            Fechar
        </button>
    </c-modal-footer>
</c-modal>

<!--MODAL DE ERRO EM FAZER LOGIN-->
<c-modal [visible]="LoginErrorVisible" (visibleChange)="handleLoginError($event)">
    <c-modal-header>
        <h3 cModalTitle>Erro na autenticação</h3>
        <button (click)="toggleLoginError()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div class="alert alert-danger" role="alert" style="font-size: 18px">
            {{ loginErrorMessage }}
        </div>
    </c-modal-body>
    <c-modal-footer>
        <button (click)="toggleLoginError()" cButton class="pad-btn" color="danger">
            Fechar
        </button>
    </c-modal-footer>
</c-modal>

<!--MODAL DE RECUPERAR SENHA-->
<c-modal id="liveDemoModal" [visible]="RetrievePasswordVisible" (visibleChange)="handleRetrievePassword($event)">
    <c-modal-header>
        <h5 cModalTitle>Recuperação de senha</h5>
        <button (click)="toggleRetrievePassword()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>Para recuperar sua senha, insira seu e-mail abaixo:<br /><br />
        <c-row class="mb-3">
            <form [formGroup]="retrievePasswordForm" (ngSubmit)="retrievePassword()" cForm>
                <c-col *ngIf="retrievePasswordForm.controls['email'] as ctrl">
                    <input cFormControl id="email" type="email" formControlName="email" placeholder="E-mail"
                        autocomplete="off" required [valid]="
							ctrl.touched && ctrl.valid
								? true
								: (submitted || ctrl.touched) && ctrl.invalid
								? false
								: undefined
						" />
                    <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
                        <ng-container *ngIf="ctrl.errors as errors">
                            <div *ngIf="errors?.required">
                                O email é obrigatório!
                            </div>
                            <div *ngIf="errors?.email">
                                {{ formErrors.email?.email }}
                            </div>
                        </ng-container>
                    </c-form-feedback>
                </c-col>
            </form>
        </c-row>
    </c-modal-body>
    <c-modal-footer>
        <button cButton color="secondary" (click)="toggleRetrievePassword()" class="pad-btn">
            Fechar
        </button>
        <button cButton color="success" [disabled]="retrievePasswordForm.invalid" (click)="retrievePassword()"
            class="pad-btn">
            Recuperar Senha
        </button>
    </c-modal-footer>
</c-modal>

<!--MODAL DE CARREGAMENTO -->
<c-modal [visible]="spinnerVisible" (visibleChange)="handleSpinnerVisible($event)">
    <c-modal-header>
        <h3 cModalTitle>Processando</h3>
        <button (click)="toggleSpinnerVisible()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div class="alert alert-info" role="alert" style="font-size: 18px">
            Sua ação está sendo processada. Aguarde um momento.

            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status"></div>
            </div>
        </div>
    </c-modal-body>
    <c-modal-footer>
        <button (click)="toggleSpinnerVisible()" cButton color="secondary" class="pad-btn">
            Fechar
        </button>
    </c-modal-footer>
</c-modal>