.logoGerenciaPet {
	width: 50%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.button-login {
	border: none;
	font-weight: bold;
}

.button-login:hover {
	background-color: #274cb4;
}

.background-GerenciaPet {
	background-color: #03275a;
}

.justify {
	text-align: justify;
}

.register-button:hover {
	background-color: white;
	border: 1px solid white;
	color: black;
}

.forgot-password {
	color: #03275a;
	background-color: white;
	border: none;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

.float-bottom {
	float: bottom;
}
