
<c-card>
	<!-- CASO A REQUISIÇÃO FALHE -->
	<c-card-header *ngIf="failureFlag">
		<svg cIcon name="cilWarning"></svg>
		<strong> &nbsp; Falha de comunicação</strong>
	</c-card-header>

	<c-card-body class="d-flex px-4" *ngIf="failureFlag">
		<p>
			Infelizmente ocorreu uma falha de comunicação no sistema. Tente
			acessar novamente ou mais tarde. Caso persista, entre em contato com
			os desenvolvedores
		</p>
	</c-card-body>
	<!-- CASO A REQUISIÇÃO FALHE -->

	<c-card-header *ngIf="!failureFlag">
		<c-icon name="cil-list"></c-icon>
		<strong> &nbsp; Lista de usuários cadastrados no sistema</strong>
	</c-card-header>

	<c-card-body *ngIf="!failureFlag">
		<form cForm [formGroup]="userSettingsForm">
			<c-row class="align-items-center">
				<c-col lg="6" md="6" sm="6" xs="12">
					<!-- <label cLabel cFormCheckLabel>Busca por nome do usuário:</label> -->
					<div class="d-grid gap-2 d-flex justify-content-end">
						<input
							cFormControl
							type="text"
							placeholder="Buscar por nome do usuário"
							formControlName="fullName"
							(input)="searchUsersByName()"
							>
					</div>
				</c-col>
			</c-row>
		</form>
		<br>
		<table cTable hover [responsive]="true">
			<thead cTableColor="light">
				<tr>
					<th scope="col" style="width: 5%; text-align: center; vertical-align: middle;">#</th>
					<th scope="col" style="width: 25%; vertical-align: middle;">Nome</th>
					<th scope="col" style="width: 30%; vertical-align: middle;">E-mail</th>
					<th scope="col" style="width: 20%; text-align: center; vertical-align: middle;">Nível de acesso</th>
					<th scope="col" style="width: 10%; text-align: center; vertical-align: middle;">Editar Cargo</th>
					<th scope="col" style="width: 10%; text-align: center; vertical-align: middle;">Deletar</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let user of users; index as i">
					<th scope="row" style="text-align: center; vertical-align: middle;">{{ i + 1 }}</th>
					<td style="vertical-align: middle;">{{ user.nome }}</td>
					<td style="vertical-align: middle;">{{ user.email }}</td>
					<td style="text-align: center; vertical-align: middle;">
						<span
							*ngIf="user.tipoUsuario === 'ALUNO'"
							class="badge text-bg-light"
							>ALUNO</span
						>
						<span
							*ngIf="user.tipoUsuario === 'ADMIN'"
							class="badge text-bg-success text-white"
							>ADMIN</span
						>
						<span
							*ngIf="user.tipoUsuario === 'EXTENSIONISTA'"
							class="badge text-bg-primary"
							>EXTENSIONISTA</span
						>
						<span
							*ngIf="user.tipoUsuario === 'TUTOR'"
							class="badge text-bg-warning"
							>TUTOR</span
						>
					</td>
					<td style="text-align: center; vertical-align: middle;">
						<button
							cButton
							color="warning"
							[disabled]="!canManage(user)"
							(click)="setSelectedUser(user)"
							class="hyperlog-btn text-white"
							title="Editar nível de acesso"
						>
							<fa-icon [icon]="faIcons.faPenToSquare" class="cardIcon fa-lg fa-fw"></fa-icon>
						</button>
					</td>
					<td style="text-align: center; vertical-align: middle;">
						<button
							cButton
							color="danger"
							class="hyperlog-btn text-white"
							[disabled]="!canManage(user)"
							(click)="preDeleteUser(user)"
							title="Apagar usuário"
						>
							<fa-icon [icon]="faIcons.faTrash" class="cardIcon fa-lg fa-fw"></fa-icon>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</c-card-body>

	<c-card-body class="d-flex justify-content-center" *ngIf="!failureFlag">
		<pagination
			[totalItems]="totalItems"
			[maxSize]="maxPageLinks"
			(pageChanged)="pageChange($event)"
			[itemsPerPage]="itemsPerPage"
			previousText="Anterior"
			nextText="Próxima"
		>
		</pagination>
	</c-card-body>
</c-card>
<br>

<c-modal backdrop="static" alignment="center" [visible]="flagModalEdit">
	<c-modal-header>
		<h5 cModalTitle>Gerenciamento de usuário</h5>
	</c-modal-header>
	<c-modal-body>
		<label cLabel>Nível de acesso do usuário:</label>
		<br />

		<c-form-check sizing="xl" inline>
			<input
				cFormCheckInput
				type="radio"
				value="ADMIN"
				name="tipoUsuario"
				[(ngModel)]="selectedUser.tipoUsuario"
				(ngModelChange)="changeUserRole()"
			/>
			<label cFormCheckLabel>Admin</label>
		</c-form-check>
		<c-form-check sizing="xl" inline>
			<input
				cFormCheckInput
				type="radio"
				value="TUTOR"
				name="tipoUsuario"
				[(ngModel)]="selectedUser.tipoUsuario"
				(ngModelChange)="changeUserRole()"
			/>
			<label cFormCheckLabel>Tutor</label>
		</c-form-check>
		<c-form-check sizing="xl" inline>
			<input
				cFormCheckInput
				type="radio"
				value="EXTENSIONISTA"
				name="tipoUsuario"
				[(ngModel)]="selectedUser.tipoUsuario"
				(ngModelChange)="changeUserRole()"
			/>
			<label cFormCheckLabel>Extensionista</label>
		</c-form-check>
		<c-form-check sizing="xl" inline>
			<input
				cFormCheckInput
				type="radio"
				value="ALUNO"
				name="tipoUsuario"
				[(ngModel)]="selectedUser.tipoUsuario"
				(ngModelChange)="changeUserRole()"
			/>
			<label cFormCheckLabel>Aluno</label>
		</c-form-check>
	</c-modal-body>
	<c-modal-footer>
		<div class="d-grid gap-2 d-flex justify-content-end">
			<button
				cButton
				class="hyperlog-btn text-white fw-bold"
				(click)="closeEditModal()"
				type="button"
				color="primary"
			>
				Fechar
			</button>
		</div>
	</c-modal-footer>
</c-modal>

<!-- Modal de Confirmação para Deletar Tutor com Grupo PET -->
<c-modal backdrop="static" alignment="center" [visible]="flagModalDeleteTutor">
	<c-modal-header>
		<h5 cModalTitle>Atenção! Tutor Associado</h5>
	</c-modal-header>
	<c-modal-body>
		<p class="text-danger fw-bold">
			Este usuário é um Tutor e está atualmente associado como coordenador de um Grupo PET.
		</p>
		<p>
			A exclusão deste usuário poderá resultar na exclusão em cascata do Grupo PET coordenado por ele (ou o grupo ficará sem tutor). 
			Deseja <strong>realmente</strong> excluir este usuário?
		</p>
	</c-modal-body>
	<c-modal-footer>
		<div class="d-grid gap-2 d-flex justify-content-end">
			<button
				cButton
				class="hyperlog-btn text-white fw-bold"
				(click)="closeDeleteTutorModal()"
				type="button"
				color="secondary"
			>
				Cancelar
			</button>
			<button
				cButton
				class="hyperlog-btn text-white fw-bold"
				(click)="confirmDeleteTutor()"
				type="button"
				color="danger"
			>
				Sim, excluir Tutor
			</button>
		</div>
	</c-modal-footer>
</c-modal>

<!-- Modal de Confirmação para Deletar Usuário Comum -->
<c-modal backdrop="static" alignment="center" [visible]="flagModalDeleteUser">
	<c-modal-header>
		<h5 cModalTitle>Excluir Usuário</h5>
	</c-modal-header>
	<c-modal-body>
		<p class="text-danger fw-bold">
			Deseja realmente excluir o usuário {{ userToDelete?.nome }}?
		</p>
	</c-modal-body>
	<c-modal-footer>
		<div class="d-grid gap-2 d-flex justify-content-end">
			<button
				cButton
				class="hyperlog-btn text-white fw-bold"
				(click)="closeDeleteUserModal()"
				type="button"
				color="secondary"
			>
				Cancelar
			</button>
			<button
				cButton
				class="hyperlog-btn text-white fw-bold"
				(click)="confirmDeleteUser()"
				type="button"
				color="danger"
			>
				Remover
			</button>
		</div>
	</c-modal-footer>
</c-modal>

<!-- Modal para quando os dados estiverem sendo carregados -->
<c-modal backdrop="static" alignment="center" [visible]="modalLoadingFlag">
	<c-modal-header>
		<h5 cModalTitle>Carregando...</h5>
	</c-modal-header>

	<c-modal-body>
		<p>
			Aguarde alguns segundos enquanto os dados estão sendo carregados...
		</p>

		<div class="d-flex justify-content-center text-primary">
			<div class="spinner-border spinner-border-lg" role="status">
				<span class="sr-only"></span>
			</div>
		</div>
	</c-modal-body>
</c-modal>
