<div>
	<div *ngIf="loggedUser?.tipoUsuario === 'ADMIN'">
		<c-row class="align-itens-center justify-content-center" [lg]="2" [md]="2" [sm]="2">
			<c-col lg="6" xs="12">
				<c-widget-stat-f
					[title]="'Grupos PET'"
					class="mb-3"
					color="info"
					padding
					[value]="totalGrupos"
				>
					<ng-template cTemplateId="widgetIconTemplate">
						<fa-icon
							[icon]="icons.faUsers"
							class="fa-lg pad-btn"
						></fa-icon>
					</ng-template>
				</c-widget-stat-f>
			</c-col>

			<c-col lg="6" xs="12">
				<c-widget-stat-f
					[title]="'Tutores'"
					class="mb-3"
					color="success"
					padding
					[value]="totalTutores"
				>
					<ng-template cTemplateId="widgetIconTemplate">
						<fa-icon
							[icon]="icons.faUserDoctor"
							class="fa-lg pad-btn"
						></fa-icon>
					</ng-template>
				</c-widget-stat-f>
			</c-col>
		</c-row>
	</div>

	<div *ngIf="loggedUser?.tipoUsuario === 'TUTOR'">
		<c-row class="align-itens-center justify-content-center" [lg]="2" [md]="2" [sm]="2">
			<c-col lg="6" xs="12">
				<c-widget-stat-f
					[title]="'Eventos Cadastrados'"
					class="mb-3"
					color="warning"
					padding
					[value]="totalEventos"
				>
					<ng-template cTemplateId="widgetIconTemplate">
						<fa-icon
							[icon]="icons.faCalendarCheck"
							class="fa-lg pad-btn"
						></fa-icon>
					</ng-template>
				</c-widget-stat-f>
			</c-col>

			<c-col lg="6" xs="12">
				<c-widget-stat-f
					[title]="'Extensionistas'"
					class="mb-3"
					color="primary"
					padding
					[value]="totalExtensionistas"
				>
					<ng-template cTemplateId="widgetIconTemplate">
						<fa-icon
							[icon]="icons.faUsers"
							class="fa-lg pad-btn"
						></fa-icon>
					</ng-template>
				</c-widget-stat-f>
			</c-col>
		</c-row>
	</div>

	<div *ngIf="loggedUser?.tipoUsuario === 'ALUNO' || loggedUser?.tipoUsuario === 'EXTENSIONISTA'">
		<c-row class="align-itens-center justify-content-center" [lg]="2" [md]="2" [sm]="2">
			<c-col lg="6" xs="12">
				<c-widget-stat-f
					[title]="'Eventos Inscritos'"
					class="mb-3"
					color="info"
					padding
					[value]="totalInscricoes"
				>
					<ng-template cTemplateId="widgetIconTemplate">
						<fa-icon
							[icon]="icons.faCheckToSlot"
							class="fa-lg pad-btn"
						></fa-icon>
					</ng-template>
				</c-widget-stat-f>
			</c-col>

			<c-col lg="6" xs="12">
				<c-widget-stat-f
					[title]="'Certificados Emitidos'"
					class="mb-3"
					color="success"
					padding
					[value]="totalCertificados"
				>
					<ng-template cTemplateId="widgetIconTemplate">
						<fa-icon
							[icon]="icons.faCertificate"
							class="fa-lg pad-btn"
						></fa-icon>
					</ng-template>
				</c-widget-stat-f>
			</c-col>
		</c-row>
	</div>
</div>
