/*First Blidness Color pallete */
$charcoal: #264653ff;
$myrtle-green: #287271ff;
$persian-green: #2a9d8fff;
$olivine: #8ab17dff;
$saffron: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;
$burnt-sienna-2: #e97c61ff;

/* Second Blidness Color pallete 2 */
$red-pantone: #e63946ff;
$salmon-pink: #ec9a9aff;
$pale-dogwood: #efcac4ff;
$honeydew: #f1faeeff;
$mint-green: #cdeae5ff;
$non-photo-blue: #a8dadcff;
$cerulean: #457b9dff;
$berkeley-blue: #1d3557ff;

/* Third Blidness Color pallete */
$dark-moss-green: #606c38ff;
$pakistan-green: #283618ff;
$moss-green: #93987cff;
$cornsilk: #fefae0ff;
$dutch-white: #f6e4c0ff;
$sunset: #eece9fff;
$earth-yellow: #dda15eff;
$tigers-eye: #bc6c25ff;
